button:disabled {
    color:red;
}
p::first-letter{
    color:red;
}
p::after{
    content:"a";
    border: 1rem solid green;
    height: 1rem;
    display: inline-block;
}
ol li:first-child{
    color: aqua;
}
ol li:nth-child(3){
    color: aqua;
}
*{
    box-sizing: border-box;
}